body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#submittedNames {
    margin: 5vw 5vw 5vh 5vh;
    alignment: left;
    overflow: scroll;
}

.container {
    text-align: center;
    position: fixed;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button, #counter {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#counter {
    text-align: left;
    margin-right: -1vw;
    background-color: #ff0033;
    color: #fff;
}

#submittedNames {
    margin-top: 20px;
    text-align: left;
}